<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Material Messaging App Concept</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <style type="text/css">
    .forms{
      border: 1px solid slateblue;
      width: 100%;
      border-radius: 5px;
      padding: 10px 10px;
      font-size: 18px;
    }
  </style>
  <div class="container">
    <div class="row">
      <nav class="menu">
        <ul class="items">
          <li class="item">
            <i class="fa fa-home" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-user" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li class="item item-active">
            <i class="fa fa-commenting" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-file" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </li>
        </ul>
      </nav>
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">{{ friend.profile.name }}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat">
          {% for chat in chats %}
            {% if chat.msg_sender == user and chat.msg_receiver == profile %}
          <div class="message text-only">
            <div class="response">
              <p class="text"> {{chat}}😃</p>
            </div>
            <p class="time"> 14h58</p>
          </div>
          {% elif chat.sender == profile and chat.msg_reciver == user %}
          
          <div class="message text-only">
            <p class="text"> {{chat}}</p>
          </div>
          <p class="time"> 14h58</p>
          {% endif %}
          {% endfor %}
          
        </div>
        <div class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <form action="" id="myform" method="POST">
            {% csrf_token %}
              {{ form.body }}
          <button type="submit"><i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i></button>
          </form>
        </div>
      </section>
    </div>
  </div>
</body>
<!-- partial -->
  
</body>
</html>
