<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Material Messaging App Concept</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <style type="text/css">
    .forms{
      border: 1px solid slateblue;
      width: 100%;
      border-radius: 5px;
      padding: 10px 10px;
      font-size: 18px;
    }
  </style>
  <div class="container">
    <div class="row">
      <nav class="menu">
        <ul class="items">
          <li class="item">
            <a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
          </li>
          <li class="item">
            <i class="fa fa-user" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li class="item item-active">
            <i class="fa fa-commenting" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-file" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </li>
        </ul>
      </nav>
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">{{ friend.profile.name }}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat">
          {% for chat in chats %}
            {% if chat.msg_sender == user and chat.msg_receiver == profile %}
          
          <div id="sender" class="message text-only">
            <div id="first" class="sender">

              <p class="text">{{ chat }}</p>
            </div>
            <p class="time"> 14h58</p>
          </div>

          
          {% elif chat.msg_sender == profile and chat.msg_receiver == user %}
          
          <div id="receiver" class="message text-only">
            <p class="text">{{chat}}</p>
          </div>
          <p class="time"> 14h58</p>
          {% endif %}
          {% endfor %}
          
        </div>
        <div id="well" class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <form action="" id="myform" method="POST">
            {% csrf_token %}
              {{ form.body }}
          <button type="submit"><i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i></button>
          </form>
        </div>
      </section>
    </div>
  </div>
</body>
<script type="text/javascript">
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
  let form = document.getElementById("myform")
  form.addEventListener("submit", sendChat)

  function sendChat(e){
    e.preventDefault()
    let chatMessage = document.getElementById("id_body").value
    //console.log(chatMessage)

    const data = {msg: chatMessage};
    let url = "{% url 'sent_msg' friend.profile.id %}"
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,

      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      chat_body = document.getElementById('first')
      chart = document.getElementById('well')
      let message_box = document.createElement("p");
      message_box.classList.add("text");
      message_box.innerText = data;
      console.log(chat_body)
      chat_body.append(message_box)
      document.getElementById("id_body").value=""
    })
    .catch((error) => {
      console.error('Error:', error)
      
    });
  }

</script>
</html>
